// ----------------------------------------------
// Styles for bivariate-plot-component.jsx
// ----------------------------------------------

@import './mixins';

.graph {
    background: #fff;
    border-radius: 10px;
    flex-direction: column;

    .error-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.7);
        color: $red-colour;        

        i {
            font-size: 22px;
            margin-right: 10px;
        }

        .text {
            font-weight: 600;
            font-size: 14px;
        }

        .red-background {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 4;
            background: rgba(192, 41, 66, 0.2);

            &:hover {
                background: rgba(192, 41, 66, 0.25);                    
            }

            &:active {
                background: rgba(192, 41, 66, 0.3);                    
            }
        }
    } 

    .axis-selection.y {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dropdown-inline.scale {
            margin: 10px 0 0 0;
        }
    }

    .axis-selection.x {
        justify-content: center;
    }

    .gating-error {
        filter: blur(5px);
    }

    svg {
        z-index: 1;
        @include unselectable;
        padding: 20px 0px 0px 50px;

        .selection {
          fill: #3f5996;
          stroke: #3f5996;
          fill-opacity: 0.5;
          stroke-opacity: 0.7;
          stroke-width: 5;
          stroke-dasharray: 5, 5;
        }

        .gate {
            fill-opacity: 0;
            stroke: #3f5996;
            stroke-opacity: 0.7;
            stroke-width: 2;
            cursor: pointer;

            &.highlighted, &:hover {
                fill-opacity: 0.05;
            }

            &:active {
                fill-opacity: 0.1;
            }
            // stroke-dasharray: 5, 5;
        }

        .domain {
            stroke: #ccc;
            stroke-width: 2;
        }

        .tick {

            line {
                stroke: #ccc;
            }

            text {
                fill: #999;
                font: 200 12px 'Open Sans';
            }
        } // .tick

        &.gates {
            position: absolute;
            z-index: 2;
        }
    } // svg
} // .graph

.svg-outer {
    position: relative;
    flex-direction: column;
    padding-left: 15px;

    .tooltip {
        font-size: 12px;
        position: absolute;
        background: #fff;
        overflow: visible;
        border: 2px solid #ddd;   
        z-index: 3;

        &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #fff;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(221, 221, 221, 0);
            border-top-color: #ddd;
            border-width: 13px;
            margin-left: -13px;
        }

        .tooltip-inner {
            flex-grow: 1;
            flex-direction: column;

            & > div {
                padding: 0 10px;
            }

            .title {
                padding-top: 5px;
                font-weight: 600;
                color: #999;
                margin-bottom: 5px;
            }

            .divider {
                padding: 0;
                height: 0px;
                border-top: 1px solid #eee;
                margin: 10px 0;
            }

            .width {
                i {
                    font-size: 18px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:hover {
                        color: #555;
                    }

                    &:active {
                        color: $highlight-colour;
                    }
                }
            }

            .parameter {
                align-items: center;

                .text {
                    flex-grow: 1;
                }

                .value {
                    margin-right: 5px;
                    font-size: 18px;
                    color: #aaa;
                }
            }

            .cytof-options {
                margin-top: 10px;
                padding-top: 5px;
                border-top: 1px solid #ddd;
                flex-direction: column;

                .title {
                    margin-bottom: 10px;
                }

                .parameter {
                    cursor: point;
                    margin-bottom: 10px;
                    cursor: pointer;
                    @include foregroundHover(#555)
                    @include foregroundClick(#555)

                    &.active {
                        @include foregroundHover($highlight-colour)
                        @include foregroundClick($highlight-colour)
                    }

                    i {
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    canvas {
        z-index: 0;
        cursor: default;
        position: absolute;
        padding: 20px 20px 20px 50px;
    }
}

.axis-selection {
    padding: 0 0 15px 15px;
    align-items: center;

    .dropdown-inline.scale {
        margin-left: 10px;
    }

    .versus {
        margin: 0 15px;
    }
} // .axis-selection