@import './mixins';

body, html, div {
    display: flex;
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: none;
}

html {
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;

    body {
        flex-grow: 1;
        align-items: stretch;
        
        .container-outer {
            flex-grow: 1;
            align-items: stretch;

            .container {
                flex-grow: 1;
                flex-direction: column;

                & > .tab-bar {
                    background: #ddd;
                    align-items: stretch;
                    height: 30px;
                    flex-shrink: 0;

                    .tab {
                        font-size: 12px;
                        width: 150px;
                        padding: 0 15px;
                        margin-right: 5px;
                        align-items: center;
                        cursor: pointer;
                        @include backgroundHover(#eee);
                        @include backgroundClick(#eee);

                        .text {
                            padding: 2px 6px;
                            flex-grow: 1;
                            margin-right: 15px;
                            border: 1px solid transparent;
                        }

                        .close-button {
                            padding: 1px;
                            align-items: center;
                            justify-content: center;
                            line-height: 1;
                            cursor: pointer;
                            @include backgroundHover(#ccc);
                            @include backgroundClick(#ccc);
                        }

                        &.selected {
                            cursor: text;
                            background: #fdfdfd;

                            &:hover .text {
                                background: #fff;
                                border: 1px solid #ddd;
                            }
                        }
                    }
                }

                .container-inner {
                    flex-grow: 1;
                } // .container-inner
            } // .container
        } // .container-outer
    } // body
} // html