// ----------------------------------------------
// Styles for fcs-file-selector-component.jsx
// ----------------------------------------------

@import 'mixins.scss';

.fcs-file-selector-outer {
    flex-grow: 1;

    .fcs-file-selector-inner {
        flex-grow: 1;
        flex-direction: column;
        
        &.empty {
            align-items: center;
            justify-content: center;
        }

        & > .header {
            padding: 10px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;

            .dropdown-inline {
                width: 300px;
                margin-right: 15px;
            }

            .divider {
                flex-grow: 1;
            }

            .button {
                padding: 8px 15px;
                align-items: center;
                cursor: pointer;
                @include backgroundHover(#eee);
                @include backgroundClick(#eee);

                &.delete, &.jobs.disabled {
                    @include foregroundHover($red-colour);
                    @include foregroundClick($red-colour);
                }

                i {
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
        }

        .panel.fcs-file {
            flex-grow: 1;
        }
    }
}