// ----------------------------------------------
// Styles for gating-error-modal-component.jsx
// ----------------------------------------------

@import 'mixins.scss';

.gating-error-outer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.58);
    z-index: 10;
    align-items: center;
    justify-content: center;
    @include unselectable();

    &.active {
        display: flex;
    }

    .gating-error-inner {
        width: 1000px;
        background: #fff;
        flex-direction: column;
        align-items: stretch;
        -webkit-box-shadow: 2px 4px 28px 1px rgba(138,138,138,1);
        -moz-box-shadow: 2px 4px 28px 1px rgba(138,138,138,1);
        box-shadow: 2px 4px 28px 1px rgba(138,138,138,1);

        .upper {
            padding: 10px;
            background: #ccc;
            font-weight: 600;
            font-size: 12px;
            
            .title {
            
            }
        }

        .lower {
            flex-direction: row;

            .actions {
                padding: 10px;
                border-top: 1px solid #ddd;
                background: #eee;
                flex-shrink: 0;

                .button {
                    padding: 8px 12px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 12px;
                    cursor: pointer;
                    @include backgroundHover(darken($highlight-colour, 10%));
                    @include backgroundClick(darken($highlight-colour, 10%));

                    &.disabled {
                        opacity: 0.7;
                        background: #bbb;
                        pointer-events: none;
                    }
                }
            }

            .gating-errors {
                background: #fafafa;
                flex-direction: column;
                flex-grow: 1;

                .title {
                    font-size: 18px;
                    color: #777;
                    font-weight: 200;
                    padding: 10px 15px;
                    border-bottom: 1px solid #ddd;
                }

                .row {
                    padding: 10px 15px;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 12px;


                    &.fail .text {
                        color: $red-colour;
                    }

                    .text {
                        flex-direction: row;
                        font-weight: 600;
                        align-items: center;
                        font-size: 13px;
                        color: darken($highlight-colour, 10%);

                        i {
                            font-size: 22px;
                            margin-right: 10px;
                        }
                    }

                    .info {
                        margin-top: 10px;
                        color: #777;

                        &:empty {
                           display: none;
                        }
                    }
                }
            }
        } // .lower
    } // .gating-error-inner
} // .gating-error-outer