$highlight-colour: #69D2E7;
$red-colour: #C02942;

@mixin backgroundHover($backgroundColor, $percentage:5%) {
    background: $backgroundColor;

    &:hover {
        background: darken($backgroundColor, $percentage);
    }
}

@mixin backgroundClick($backgroundColor, $percentage:10%) {
    background: $backgroundColor;

    &:active {
        background: darken($backgroundColor, $percentage);
    }
}

@mixin foregroundHover($foregroundColor, $percentage:5%) {
    color: $foregroundColor;

    &:hover {
        color: darken($foregroundColor, $percentage);
    }
}

@mixin foregroundClick($foregroundColor, $percentage:10%) {
    color: $foregroundColor;

    &:active {
        color: darken($foregroundColor, $percentage);
    }
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.highlight {
    color: darken($highlight-colour, 50%);
}

*:focus {
  outline-color: transparent;
  outline-style: none;
}


.loader-outer {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: inherit;
    z-index: 3;
    background: #eee;
    opacity: 0.8;

    &.active {
        display: flex;
    }

    &.opaque {
        opacity: 1;
    }

    .loader {
        font-size: 10px;
        position: relative;
        box-sizing: border-box;
        text-indent: 9999em;
        border: 4px solid rgba(120, 120, 120, 0.2);
        border-left: 4px solid #fff;
        transform: translateZ(0);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-animation: load8 0.7s infinite linear;
        animation: load8 0.7s infinite linear;
    }

    .text {
        margin-left: 15px;
    }

    .small {
        width: 25px;
        height: 25px;
    }

    .inverted {
        border-color: rgba(255, 255, 255, 0.3);
        border-left-color: #eee;
    }
}