// ----------------------------------------------
// Styles for sample-selector-component.jsx
// ----------------------------------------------

@import 'mixins.scss';

.sample-selector-outer {
    flex-grow: 1;

    .sample-selector-inner {
        flex-grow: 1;
        flex-direction: column;
        
        &.empty {
            align-items: center;
            justify-content: center;
        }

        & > .header {
            padding: 10px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;            

            .sample-selector-dropdown {
                flex-grow: 1;
            }

            .dropdown-inline {
                width: 300px;
            }
        }

        .panel.sample {
            flex-grow: 1;
        }
    }
}