// ----------------------------------------------
// Styles for the react sample-view.jsx component
// ----------------------------------------------

@import 'mixins.scss';

.panel.sample {
    flex-basis: 80%;
    flex-direction: column;
    align-items: stretch;

    .panel-inner {
        background: #f5f5f5;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: auto;        

        .header {
            padding: 15px;
            font-size: 20px;
            font-weight: 200;
            align-items: stretch;
            flex-shrink: 0;
            flex-direction: column;

            .upper {
                font-size: 12px;
                color: #666;

                a {
                    cursor: pointer;
                    text-decoration: underline;
                    margin-left: 5px;

                    &:hover {
                        color: $highlight-colour;
                    }
                }
            }

            .lower > input {
                outline: none;
                border: 2px solid #eee;
                padding: 15px;
                font-size: inherit;
                font-weight: 600;
                flex-grow: 1;
            }

            &.gates {

                .lower {
                    align-items: center;

                    .dropdown-inline {
                        margin-left: 15px;
                        font-size: 14px;
                        width: 200px;
                    }
                }
            }
        } // & > .header

        & > * {
            flex-shrink: 0;
        }

        .graph {
            background: #fff;
            margin: 0 15px;
            border-radius: 10px;
            flex-direction: column;

            .axis-selection.y {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .dropdown-inline.scale {
                    margin: 10px 0 0 0;
                }
            }

            .axis-selection.x {
                justify-content: center;
            }

            svg {
                z-index: 1;
                @include unselectable;
                padding: 20px 20px 0px 50px;           

                .selection {
                  fill: #3f5996;
                  stroke: #3f5996;
                  fill-opacity: 0.5;
                  stroke-opacity: 0.7;
                  stroke-width: 5;
                  stroke-dasharray: 5, 5;
                }

                .gate {
                    fill-opacity: 0;
                    stroke: #3f5996;
                    stroke-opacity: 0.7;
                    stroke-width: 2;
                    // stroke-dasharray: 5, 5;
                }

                .domain {
                    stroke: #ccc;
                    stroke-width: 2;
                }

                .tick {

                    line {
                        stroke: #ccc;
                    }

                    text {
                        fill: #999;
                        font: 200 12px 'Open Sans';
                    }
                } // .tick
            } // svg
        } // .graph

        .svg-outer {
            position: relative;
            flex-direction: column;

            canvas {
                z-index: 0;
                cursor: default;
                position: absolute;
                padding: 20px 20px 20px 50px;
            }
        }

        .axis-selection {
            padding: 0 0 15px 15px;
            align-items: center;

            .dropdown-inline.scale {
                margin-left: 10px;
            }

            .versus {
                margin: 0 15px;
            }
        } // .axis-selection
    } // .panel-inner
} // .panel.sample