// -------------------------------------------------------------
// This file contains styles for the currently open workspace.
// -------------------------------------------------------------

@import './mixins';

.workspace {
    border-top: 1px solid #ccc;
    flex-grow: 1;

    .sidebar {
        flex-basis: 20%;
        flex-direction: column;
        align-items: stretch;
        border-right: 1px solid #eee;
        overflow-y: auto;
        flex-shrink: 0;

        .sidebar-gate-template {
            flex-shrink: 0;
            align-items: center;
            flex-direction: column;
            align-items: stretch;
            cursor: pointer;

            &.selected > .body {
                @include backgroundHover(#fafafa);
                @include backgroundClick(#fafafa);    
                border-right: 5px solid $highlight-colour;

                .remove-gate-template {
                    @include backgroundHover(#ededed);
                    @include backgroundClick(#ededed);
                }
            }

            &.highlighted > .body {
                @include backgroundHover(lighten(#A7DBD8, 20%));
                @include backgroundClick(lighten(#A7DBD8, 20%));    

                .remove-gate-template {
                    @include backgroundHover(darken(lighten(#A7DBD8, 20%), 5%));
                    @include backgroundClick(darken(lighten(#A7DBD8, 20%), 5%));
                }
            }

            & > .body {
                @include backgroundHover(#fff);
                @include backgroundClick(#fff);
                position: relative;
                padding: 8px 8px 8px 10px;
                font-size: 12px;
                flex-grow: 1;
                align-items: center;
                border-right: 5px solid transparent;
                border-bottom: 1px solid #eee;
                box-sizing: border-box;

                &:hover {

                    .remove-gate-template {
                        display: flex;
                    }
                }

                .remove-gate-template {
                    display: none;
                    color: #f00;
                    position: absolute;
                    right: -5px;
                    top: 0;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    font-size: 18px;
                    cursor: pointer;
                    @include backgroundHover(#f2f2f2);
                    @include backgroundClick(#f2f2f2);
                }
    
                & > .title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #666;
                    flex-grow: 1;
                }
            }

            .child-gate-templates {
                padding-left: 15px;
                flex-direction: column;
                align-items: stretch;
            }
        } // .sidebar-gate-template
    } // .sidebar
} // .workspace