// -------------------------------------------------------------
// This file contains styles for the currently open workspace.
// -------------------------------------------------------------

@import './mixins';

.workspace {
    border-top: 1px solid #ccc;
    flex-grow: 1;

    .sidebar {
        flex-basis: 20%;
        flex-direction: column;
        align-items: stretch;
        border-right: 1px solid #eee;

        .sidebar-sample {
            align-items: center;
            flex-direction: column;
            align-items: stretch;
            cursor: pointer;

            &.selected > .body {
                @include backgroundHover(#fafafa);
                @include backgroundClick(#fafafa);    
                border-right: 5px solid $highlight-colour;

                .remove-sample {
                    @include backgroundHover(#ededed);
                    @include backgroundClick(#ededed);
                }
            }

            & > .body {
                @include backgroundHover(#fff);
                @include backgroundClick(#fff);
                position: relative;
                padding: 10px 10px 10px 15px;
                font-size: 12px;
                flex-grow: 1;
                flex-direction: column;
                border-right: 5px solid transparent;
                border-bottom: 1px solid #eee;
                box-sizing: border-box;

                &:hover {

                    .remove-sample {
                        display: flex;
                    }
                }

                .remove-sample {
                    display: none;
                    color: #f00;
                    position: absolute;
                    right: -5px;
                    top: 0;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    font-size: 24px;
                    cursor: pointer;
                    @include backgroundHover(#f2f2f2);
                    @include backgroundClick(#f2f2f2);
                }
    
                & > .title {
                    font-size: 12px;
                    margin-bottom: 5px;
                    font-weight: 600;
                    color: #666;
                }
            }

            .sub-samples {
                padding-left: 15px;
                flex-direction: column;
                align-items: stretch;
            }
        } // .sidebar-sample
    } // .sidebar
} // .workspace