// -------------------------------------------------------------
// This file contains styles for the currently open workspace.
// -------------------------------------------------------------

@import './mixins';

.workspace {
    border-top: 1px solid #ccc;
    flex-grow: 1;

    .sidebar {
        flex-basis: 20%;
        flex-direction: column;
        align-items: stretch;
        border-right: 1px solid #eee;
        overflow: auto;
        flex-shrink: 0;

        .sidebar-gate-template-group {
            flex-direction: column;
            cursor: default;
            flex-shrink: 0;
            border: 2px solid #eee;
            border-right: none;
            margin-bottom: 10px;
            white-space: nowrap;
            position: relative;

            & > .title {
                font-size: 12px;
                font-weight: 600;
                color: #999;
                background: #fafafa;
                align-items: stretch;

                .text {
                    flex-grow: 1;
                    padding: 10px;
                }

                .remove-gate-template-group {
                    display: none;
                    color: #f00;
                    align-items: center;
                    justify-content: center;
                    padding: 0 10px;
                    font-size: 18px;
                    cursor: pointer;
                    @include backgroundHover(#f2f2f2);
                    @include backgroundClick(#f2f2f2);
                }

                &:hover {

                    .remove-gate-template-group {
                        display: flex;
                    }

                    .number {
                        display: none;
                    }
                }

                .number {
                    align-items: center;
                    font-weight: 600;
                    color: #555;
                    padding: 0 10px;
                }
            }

            .gate-templates {
                flex-direction: column;
                position: relative;
            }
        }

        .sidebar-gate-template {
            flex-shrink: 0;
            align-items: center;
            flex-direction: column;
            align-items: stretch;
            cursor: pointer;
            border-bottom: 1px solid #eee;

            &.selected > .body {
                @include backgroundHover(#fafafa);
                @include backgroundClick(#fafafa);    
                border-right: 5px solid $highlight-colour;
            }

            &.highlighted > .body {
                @include backgroundHover(lighten(#A7DBD8, 20%));
                @include backgroundClick(lighten(#A7DBD8, 20%));    
            }

            & > .body {
                @include backgroundHover(#fff);
                @include backgroundClick(#fff);
                position: relative;
                padding: 8px 8px 8px 10px;
                font-size: 12px;
                flex-grow: 1;
                align-items: center;
                border-right: 5px solid transparent;
                box-sizing: border-box;
    
                & > .title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #666;
                    flex-grow: 1;
                }

                & > .number {
                    font-weight: 600;
                    color: #555;
                }
            }

            .child-gate-templates {
                padding-left: 10px;
                flex-direction: column;
                align-items: stretch;
            }
        } // .sidebar-gate-template
    } // .sidebar
} // .workspace