// ----------------------------------------------
// Styles for the react sample-gates.jsx component
// ----------------------------------------------

@import '../mixins';

.gates {
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    flex-shrink: 1;
    padding: 10px;

    .gate-group {
        flex-direction: column;
        background: #fff;
        border-radius: 5px;
        margin: 5px;

        .upper {
            flex-direction: row;
            align-items: stretch;
            background: #ddd;
            font-weight: 600;
            border-bottom: 1px solid #eee;

            .selected-parameters {
                padding: 10px;                
                font-size: 14px;
                color: #555;
                flex-shrink: 0;
                margin-right: 10px;
                flex-grow: 1;
                align-items: center;

                .icon {
                    @include foregroundHover(#666, 10%);
                    @include foregroundClick(#666, 20%);
                    
                    &.active {
                        @include foregroundHover(darken($highlight-colour, 10), 10%);
                        @include foregroundClick(darken($highlight-colour, 10), 20%);
                    }

                    i {
                        font-size: 18px;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }

            .dropdown {
                align-items: stretch;

                &.active {
                    .inner .icon {
                        color: #fff;
                        background: #666;

                        &:hover {
                            background: #666;
                        }

                        &:active {
                            background: #666;
                        }
                    }
                }

                .inner {
                    align-items: stretch;

                    .icon {
                        padding: 0 10px;
                        cursor: pointer;                        
                        align-items: center;
                        @include backgroundHover(#ddd);
                        @include backgroundClick(#ddd);
                    }

                    .menu {
                        width: 200px;
                        align-items: stretch;

                        .menu-inner {
                            flex-direction: column;
                            align-items: stretch;
                            
                            .item {
                                cursor: pointer;
                                @include backgroundHover(#666);
                                @include backgroundClick(#666);
                            }
                        }
                    }
                }
            }

            .show-gate {

                div {
                    display: inline;
                    font-size: 14px;
                    cursor: pointer;
                    text-decoration: underline;
                    flex-shrink: 0;
                    @include foregroundHover($highlight-colour);
                    @include foregroundClick($highlight-colour);
                }
            }
        }

        // .gate {
        //     flex-direction: column;
        //     margin: 10px;

        //     .subsample-name {
        //         font-size: 12px;
        //         color: #555;
        //         margin-bottom: 5px;
        //     }

        //     canvas {
        //         border-radius: 5px;
        //         border: 1px solid #ccc;
        //         overflow: hidden;
        //     }
        // }
    }

    &.body {
        margin-bottom: 15px;
    }
}