// ----------------------------------------------
// Styles for homology-modal-component.jsx
// ----------------------------------------------

@import 'mixins.scss';

.homology-modal-outer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.58);
    z-index: 10;
    align-items: center;
    justify-content: center;
    @include unselectable();

    &.active {
        display: flex;
    }

    .homology-modal-inner {
        width: 1000px;
        background: #fff;
        flex-direction: column;
        align-items: stretch;
        -webkit-box-shadow: 2px 4px 28px 1px rgba(138,138,138,1);
        -moz-box-shadow: 2px 4px 28px 1px rgba(138,138,138,1);
        box-shadow: 2px 4px 28px 1px rgba(138,138,138,1);

        .upper {
            padding: 10px;
            background: #ccc;
            font-weight: 600;
            font-size: 12px;
            
            .title {
            
            }
        }

        .lower {
            flex-direction: row;

            .actions {
                padding: 10px;
                border-top: 1px solid #ddd;
                background: #eee;
                flex-shrink: 0;

                .button {
                    padding: 8px 12px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 12px;
                    cursor: pointer;
                    @include backgroundHover(darken($highlight-colour, 10%));
                    @include backgroundClick(darken($highlight-colour, 10%));

                    &.disabled {
                        opacity: 0.7;
                        background: #bbb;
                        pointer-events: none;
                    }
                }
            }

            .homology-options {
                background: #fafafa;
                flex-direction: column;
                flex-grow: 1;

                .title {
                    font-size: 18px;
                    color: #777;
                    font-weight: 200;
                    margin: 15px 0 30px 15px;
                }

                .row {
                    padding: 0 15px;
                    margin-bottom: 15px;
                    align-items: center;

                    &.disabled {
                        opacity: 0.7;
                    }

                    i {
                        font-size: 18px;
                    }

                    .text {
                        font-size: 12px;
                        margin-right: 15px;
                        flex-grow: 1;

                        &.right {
                            margin-right: 0;
                            margin-left: 10px;
                        }
                    }

                    input {
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        width: 100px;
                    }
                }

                .divider {
                    flex-grow: 1;
                }

                .warning-message {
                    display: none;
                    color: $red-colour;
                    font-size: 12px;
                    padding: 15px;

                    &.active {
                        display: flex;
                    }
                }
            }

            .unsaved-gates {
                flex-grow: 1;
                background: #fafafa;
                flex-direction: column;
                font-size: 12px;

                & > .title {
                    font-size: 18px;
                    color: #777;
                    font-weight: 200;
                    align-items: stretch;
                    border-bottom: 1px solid #ddd;
                    flex-shrink: 0;

                    .text {
                        padding-left: 15px;
                        margin: 10px 0;
                        flex-grow: 1;
                    }

                    .dropdown {
                        align-items: stretch;

                        &.active {
                            .inner .icon {
                                color: #fff;
                                border-right: 1px solid #666;
                                background: #666;

                                &:hover {
                                    background: #666;
                                }

                                &:active {
                                    background: #666;
                                }
                            }
                        }

                        .inner {
                            align-items: stretch;

                            .icon {
                                padding: 0 12px;
                                cursor: pointer;                        
                                align-items: center;
                                border-right: 1px solid #eee;
                                @include backgroundHover(#fafafa);
                                @include backgroundClick(#fafafa);
                            }

                            .menu {
                                width: 300px;
                                align-items: stretch;

                                .menu-inner {
                                    flex-direction: column;
                                    align-items: stretch;
                                    
                                    .item {
                                        cursor: pointer;
                                        @include backgroundHover(#666);
                                        @include backgroundClick(#666);

                                        i {
                                            margin-right: 15px;
                                            font-size: 22px;
                                        }

                                        &.clickable {
                                            cursor: pointer;

                                            &.active {
                                                @include foregroundHover(darken($highlight-colour, 15%));
                                                @include foregroundClick(darken($highlight-colour, 15%));
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .close-button {
                        cursor: pointer;
                        align-items: center;
                        padding: 0 10px;
                        @include foregroundHover(#888);
                        @include foregroundClick(#888);
                        
                        .lnr-cross {
                            font-size: 26px;
                        }
                    }
                }

                .gates {
                    flex-grow: 1;
                    overflow-y: scroll;
                    padding: 0;
                    align-items: stretch;
                    flex-wrap: nowrap;
                    flex-direction: column;

                    .gate {
                        flex-shrink: 0;
                        border-bottom: 1px solid #ddd;
                        flex-direction: row;

                        &.negative .left .population-count, &.combo .population-count {
                            margin-bottom: 0;
                        }

                        &.combo {

                            .combo-list {
                                flex-direction: column;
                                align-items: flex-start;

                                .included-gate {
                                    padding: 8px 12px;
                                    margin: 5px 0;
                                    color: #fff;
                                    border-radius: 5px;
                                    @include backgroundHover(darken($highlight-colour, 30%))
                                }
                            }
                        }

                        .left {
                            padding: 10px;                            
                            flex-direction: column;
                            flex-grow: 1;

                            & > .title {
                                font-size: 13px;
                                font-weight: 600;
                                margin-bottom: 5px;
                            }

                            .population-count {
                                margin-bottom: 10px;
                              
                                .highlight {
                                    margin-right: 3px;
                                }
                            }

                            .width {

                                i {
                                    font-size: 18px;
                                    margin-right: 5px;
                                    cursor: pointer;

                                    &:hover {
                                        color: #555;
                                    }

                                    &:active {
                                        color: $highlight-colour;
                                    }
                                }
                            }

                            .parameter {
                                align-items: center;

                                .text {
                                    flex-grow: 1;
                                }

                                .value {
                                    margin-right: 5px;
                                    font-size: 18px;
                                    color: #aaa;
                                }
                            }

                            .additional-options {
                                flex-direction: column;
                            }

                            .cytof-options {
                                margin-top: 10px;
                                flex-direction: column;

                                .title {
                                    font-weight: 600;
                                    color: darken($highlight-colour, 40%);
                                    margin-bottom: 10px;
                                }

                                .parameter {
                                    cursor: point;
                                    margin-bottom: 10px;
                                    cursor: pointer;
                                    @include foregroundHover(#555)
                                    @include foregroundClick(#555)

                                    &.active {
                                        @include foregroundHover($highlight-colour)
                                        @include foregroundClick($highlight-colour)
                                    }

                                    i {
                                        font-size: 18px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        } // .left

                        .dismiss {
                            cursor: pointer;

                            &:hover {
                                @include foregroundClick($red-colour);
                            }

                            i {
                                font-size: 26px;
                                align-items: center;
                                justify-content: center;
                                display: flex;
                                padding: 0 15px;
                            }
                        }

                        .right {
                            max-width: 0px;
                            transition: max-width 0.2s ease;

                            i {
                                font-size: 26px;
                                align-items: center;
                                justify-content: center;
                                display: flex;
                                padding: 0 15px;
                            }
                        }

                        &.combo-selection {
                            cursor: pointer;
                            @include backgroundHover(#fafafa);
                            @include backgroundClick(#fafafa);

                            &.active {
                                @include backgroundHover(lighten($highlight-colour, 30%));
                                @include backgroundClick(lighten($highlight-colour, 30%));

                                .right i {
                                    color: $highlight-colour;
                                }
                            }

                            .left {
                                padding: 20px;
                            }

                            .dismiss {
                                display: none;
                            }

                            .right {
                                max-width: 100px;
                            }

                            .population-count {
                                margin-bottom: 0;
                            }

                            .additional-options {
                                display: none;
                            }
                        }
                    } // .gate
                }
            } // .unsaved-gates
        } // .lower
    } // .homology-modal-inner
} // .homology-modal-outer